/* ==UserStyle==
@name         Dark-Canvas
@description  Dark very customizable theme for Canvas.
@namespace    github.com/Phosphorus-M/siglo21-dark-theme
@homepageURL  https://github.com/Phosphorus-M/siglo21-dark-theme
@supportURL   https://github.com/Phosphorus-M/siglo21-dark-theme/issues
@author       phosphorus-m <phosphorus-m@protonmail.com> (https://github.com/Phosphorus-M)
@version      0.0.2
@license      MIT
@preprocessor stylus
==/UserStyle== */

@-moz-document domain("siglo21.instructure.com") {
    body {
        background: #262626;
        color: #f9f8f8;
    }

    .discussion_entry {

        background-color: #2e2e2e;
    }

    .ic-Layout-contentMain #wiki_page_show .show-content.user_content.clearfix.enhanced table table tbody tr td,
    .description.user_content.enhanced table table tbody tr td {
        color: #f9f8f8 !important;
    }

    .module-sequence-footer .module-sequence-footer-content,
    #flash_message_holder .ic-flash-success {
        background-color: #2e2e2e !important;
    }

    .ic-Layout-contentMain #wiki_page_show .show-content.user_content.clearfix.enhanced table table table {
        background-color: #2e2e2e !important;
    }


    .discussion-pubdate,
    .discussion-tododate {
        color: #c3c3c3;
    }

    .discussion-entries .entry,
    .toolbarView,
    .item-group-condensed,
    .item-group-container {
        background: transparent;
    }

    .ui-tabs .ui-tabs-panel,
    .item-group-expandable .emptyMessage {
        background-color: #2e2e2e;
    }

    .ic-Table.ic-Table--striped tbody tr:nth-child(odd) {
        background: #262626;
    }

    table td p span {
        color: white !important;
    }

    .closed-for-comments-discussions-v2__wrapper,
    .pinned-discussions-v2__wrapper,
    .unpinned-discussions-v2__wrapper {
        background: transparent;
        border: 0;
    }

    .student-groups.show-body .student-group-header,
    .item-group-condensed .ig-header,
    .toolbarView .headerBar {
        background: linear-gradient(127deg, #373946f0 80%, #262626d6 83%);
    }

    .item-group-condensed .item-group-expandable .ig-list li {

        border-bottom: 1px solid white;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .item-group-condensed .item-group-expandable .ig-sublist {
        border: 0;
        padding-bottom: 0px;
        background: linear-gradient(27deg, #262626 20%, #4c4d54f0 24%);
        padding-top: 0px;
    }


    .item-group-condensed .item-group-expandable {
        background-color: #2e2e2e;
        padding: 20px !important;
        color: #f9f8f8;
    }
    .ic-Dashboard-header__layout,
    #quiz_student_details {
        border-bottom: 0px;
        background-color: #2e2e2e;
        padding-bottom: 12px;
        border-radius: 10px;
        padding: 20px !important;
        margin: 0 !important;
        color: #f9f8f8;
    }

    .new_programa_2020_contenido {
        position: initial;
        min-height: initial;
    }

    .standalone-icon:before {
        color: #fff;
    }

    table.summary td,
    table.summary tbody th {
        border-bottom: 1px solid #c7cdd1;
        background-color: #2b2b2e;
    }


    .ic-Layout-contentMain {
        background: #2b2b2ef2 !important;
        margin-bottom: 20px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .ic-Table.ic-Table--hover-row tbody tr:hover,
    .student_assignment:hover {
        background: #5d647052;
    }

    .new_programa_2020_contenedor {
        background: #262626d6;
        overflow-y: overlay;
    }

    .new_programa_2020_navegador_gif {
        background-image: url('https://i.imgur.com/W1l7SHG.gif');
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 260px;
    }


    .btn,
    .Button,
    .ui-button {
        background: #00000057;
        color: #ffffff;
    }

    .btn:hover,
    .Button:hover,
    .ui-button:hover {
        background: #5865F2;
        color: #ffffff;
    }

    .ic-unread-badge__total-count {
        background: #5b5b5b;
    }

    .new_programa_2020_navegador_anclas a,
    #quiz_show > header > div:nth-child(3) > div > table > tbody > tr > td:nth-child(1) > table > tbody > tr:nth-child(3) > td > p * {
        color: #FFF !important;
    }

    .description.user_content.enhanced table tbody tr td {
        background: #2e2b2b !important;
        color: #f9f8f8;
    }

    .description.user_content.enhanced table tbody tr td table tbody tr td {
        background: #2e2b2b !important;
        color: #f9f8f8;
    }
    .ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-app-header__menu-list-link,
    #breadcrumbs > ul > li {
        background: #262626 !important
    }
    .contenedor.section.group {
        background: #2e2b2bf2 !important;
        color: #f9f8f8;
    }

    .pages.show .course-title,
    .negrita,
    .titulo_de_articulo span {
        color: #f9f8f8 !important;
    }

    .menu_inferior a:hover {
        color: #66a77d !important;
    }

    #abreimg,
    #abreimg2,
    #abreimg3,
    #abreimg4,
    #cierraimg,
    #cierraimg2,
    #cierraimg3,
    #cierraimg4 {
        display: none;
    }

    .menuMod li:last-of-type a,
    .menu_inferior a:hover,
    .menu_inferior a {
        color: #f9f8f8 !important;
    }
    .description.user_content.enhanced table tbody tr td p span,
    .description.user_content.enhanced table tbody tr td p strong {
        color: #f9f8f8;
    }


    #right-side .events_list .event-details:after,
    #right-side .events_list .todo-details:after,
    #right-side .to-do-list .event-details:after,
    #right-side .to-do-list .todo-details:after {
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 20%, #5865f240 80%)
    }

    .header-bar {
        border-bottom: 0px;
        background-color: #5a5a5a24;
        padding-bottom: 12px;
        border-radius: 10px;
        padding: 20px;
    }
    #calendar-app .fc-month-view .fc-body,
    #calendar-drag-and-drop-container .fc-month-view .fc-body {
        background: transparent;
    }

    #wiki_page_show > div.show-content.user_content.clearfix.enhanced > div.studentTitleHide > div > div > div.bgBlanco.col.span_8_of_8.menu_inferior {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #context-list .context_list_context:hover,
    #wiki_page_show > div.show-content.user_content.clearfix.enhanced > div.studentTitleHide > div > div > div.bgBlanco.col.span_8_of_8.menu_inferior > div:hover {
        background: #5865F2;
    }
    .list-view a.active {
        border-left: 2px solid #ffffff;
        color: #ffffff;
        padding-left: 10px;
    }

    #context-list-holder,
    #undated-events,
    #minical {
        border-radius: 10px;
        background-color: #181616;
        border: 1px solid #668da7;
        color: #FFF;
    }

    #minical .fc-widget-content {
        border: 0px;
        color: #dbdbdb;
    }

    #minical .fc-widget-content .fc-day-number {
        border-top: 1px solid;
        border-right: 1px solid;
    }

    #minical .fc-widget-content .fc-day-number:nth-child(1) {
        border-bottom: 0px;
        border-left: 0px;
        border-top: 1px solid;
        color: #dbdbdb;
    }


    #minical .fc-widget-content .fc-day-number:nth-child(7) {
        border-bottom: 0px;
        border-left: 0px;
        border-top: 1px solid;
        color: #dbdbdb;
    }

    #wiki_page_show > div.show-content.user_content.clearfix.enhanced > div.studentTitleHide > div > div > div.bgBlanco.col.span_8_of_8.menu_inferior > div {
        background: #36393F;
        width: auto;
        padding: 20px;
        border-radius: 10px;
    }

    #calendar-app .fc-month-view .fc-today,
    #calendar-drag-and-drop-container .fc-month-view .fc-today {
        background: #000;
    }

    .message-list .messages > li {
        background: #2e2b2bd1;
    }

    .message-list .messages > li.active {
        background: #373946f0;
    }

    #content > div > div > div.message-list-scroller > div ul li div.message-middle-column > h2.author,
    #content > div > div > div.message-list-scroller > div ul li div.message-middle-column > h3.subject,
    .message-list.subject {
        color: #FFF;
    }

    .discussions-container__wrapper > span > div > div > div > div:last-child > span > span > span:nth-child(2) > div {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .discussions-container__wrapper > span > div > div > div > div:nth-child(1) > span > span > span:nth-child(2) > div {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    .ic-discussion-row,
    .stream_header:hover,
    .stream-details tr:hover {
        background: #33333b;
    }

    .conversations .panel,
    #calendar-app .fc-other-month,
    #calendar-drag-and-drop-container .fc-other-month,
    .fc th,
    .fc td,
    .calendar .fc-row .fc-content-skeleton td,
    .calendar .fc-row .fc-helper-skeleton td,
    #calendar-drag-and-drop-container .fc-row .fc-content-skeleton td,
    #calendar-drag-and-drop-container .fc-row .fc-helper-skeleton td {
        background: #2e2b2b99;
    }

    :root {
        --fLzZc-background: #222428;
        --jpyTq-color: #f9f8f8;
        --ic-brand-global-nav-ic-icon-svg-fill--active: #f9f8f8;
        --ic-link-color: #5865F2;
        --MlJlv-textColor: #8f8f8f;
        --MlJlv-iconColor: #8f8f8f;
        --ic-link-color-darkened-10: #f9f8f8;
        --ic-brand-font-color-dark-lightened-15: #d0d0d1;
        --ic-brand-font-color-dark: #7d86ea;
        --fQfxa-secondaryGhostColor: #f9f8f8;
        --ic-brand-global-nav-logo-bgd: #7d86ea;
        --ic-brand-global-nav-bgd: #5a5a5a24;
        --ic-brand-watermark: url("https://i.imgur.com/zA2ORIJ.png");
        --cECYn-colorPrimary: #5865F2;
        --cECYn-colorPrimary: #5865F266;
    }

    .contenedorGral div:nth-child(3) {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    .contenedorGral div:nth-child(4) {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

}
