/* ==UserStyle==
@name         Dark-Canvas
@description  Dark very customizable theme for Canvas.
@namespace    github.com/Phosphorus-M/siglo21-dark-theme
@homepageURL  https://github.com/Phosphorus-M/siglo21-dark-theme
@supportURL   https://github.com/Phosphorus-M/siglo21-dark-theme/issues
@author       phosphorus-m <phosphorus-m@protonmail.com> (https://github.com/Phosphorus-M)
@version      0.0.1
@license      MIT
@preprocessor stylus
==/UserStyle== */

@-moz-document domain("siglo21.instructure.com") {
body {
    background: #262626;
    color: #f9f8f8;
}
.btn, .Button, .ui-button{
    background: #00000057;
    color: #ffffff;
}

.description.user_content.enhanced table tbody tr td{
    background: #2e2b2b !important;
    color: #f9f8f8;
}

.description.user_content.enhanced table tbody tr td table tbody tr td{
    background: #2e2b2b !important;
    color: #f9f8f8;
    
}
.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-app-header__menu-list-link, #breadcrumbs>ul>li {
background:#262626 !important
}
.contenedor.section.group{
    background: #2e2b2bf2 !important;
    color: #f9f8f8;
}

.pages.show .course-title,
.negrita, .titulo_de_articulo span{
    color: #f9f8f8 !important;
}

.menu_inferior a:hover{
    color: #66a77d !important;
}

#abreimg, #abreimg2, #abreimg3,#abreimg4,
#cierraimg, #cierraimg2, #cierraimg3,#cierraimg4{
    display: none;
}

.menuMod li:last-of-type a, .menu_inferior a:hover, .menu_inferior a{
    color: #f9f8f8 !important;
}
.description.user_content.enhanced table tbody tr td p span,.description.user_content.enhanced table tbody tr td p strong {
    color: #f9f8f8;
}


#right-side .events_list .event-details:after, #right-side .events_list .todo-details:after, #right-side .to-do-list .event-details:after, #right-side .to-do-list .todo-details:after{
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 20%, #5865f240 80%)
}

.header-bar {
    border-bottom: 0px;
    background-color: #5a5a5a24;
    padding-bottom: 12px;
    border-radius: 10px;
    padding: 20px;
}
#calendar-app .fc-month-view .fc-body, #calendar-drag-and-drop-container .fc-month-view .fc-body{
    background: transparent;
}

#wiki_page_show > div.show-content.user_content.clearfix.enhanced > div.studentTitleHide > div > div > div.bgBlanco.col.span_8_of_8.menu_inferior{
    display: flex;
    justify-content: center;
    align-items:center;
}

#wiki_page_show > div.show-content.user_content.clearfix.enhanced > div.studentTitleHide > div > div > div.bgBlanco.col.span_8_of_8.menu_inferior > div:hover{
    background: #5865F2;
}
.list-view a.active{
    border-left: 2px solid #ffffff;
    color: #ffffff;
    padding-left: 10px;
}

#minical{
    border-radius: 10px;
    background-color: #181616;
    border: 1px solid #668da7;
    color: #FFF;
}

#minical .fc-widget-content{
    border: 0px;
    color: #dbdbdb;
}

#minical .fc-widget-content .fc-day-number{
    border-top: 1px solid;
    border-right: 1px solid;
}

#minical .fc-widget-content .fc-day-number:nth-child(1){
    border-bottom: 0px;
    border-left: 0px;
    border-top: 1px solid;
    color: #dbdbdb;
}


#minical .fc-widget-content .fc-day-number:nth-child(7){
    border-bottom: 0px;
    border-left: 0px;
    border-top: 1px solid;
    color: #dbdbdb;
}

#wiki_page_show > div.show-content.user_content.clearfix.enhanced > div.studentTitleHide > div > div > div.bgBlanco.col.span_8_of_8.menu_inferior > div{
    background: #36393F;
    width: auto;
    padding: 20px;
    border-radius: 10px;
}

#calendar-app .fc-month-view .fc-today, #calendar-drag-and-drop-container .fc-month-view .fc-today{
    background: #000;
}

.message-list .messages>li{
    background: #2e2b2bd1;
}

.message-list .messages>li.active{
    background: #373946f0;
}
#content > div > div > div.message-list-scroller > div > ul > li.active > div.message-middle-column > div.summary, #content > div > div > div.message-list-scroller > div > ul > li.active > div.message-middle-column > div.author, .message-list.subject {
    color: #FFF;
}



.conversations .panel,
#calendar-app .fc-other-month, #calendar-drag-and-drop-container .fc-other-month, .fc th, .fc td,
.calendar .fc-row .fc-content-skeleton td, .calendar .fc-row .fc-helper-skeleton td, #calendar-drag-and-drop-container .fc-row .fc-content-skeleton td, #calendar-drag-and-drop-container .fc-row .fc-helper-skeleton td{
    background: #2e2b2b99;
}

:root{
    --fLzZc-background: #282222;
    --jpyTq-color: #f9f8f8;
    --ic-brand-global-nav-ic-icon-svg-fill--active: #f9f8f8;
    --ic-link-color: #5865F2;
    --ic-link-color-darkened-10: #f9f8f8;
    --ic-brand-font-color-dark: #7d86ea;
/*     --ic-brand-global-nav-logo-bgd: #7d86ea; */
    --ic-brand-global-nav-bgd: #5a5a5a24;
    --ic-brand-watermark: url("https://i.imgur.com/zA2ORIJ.png");
    --cECYn-colorPrimary: #5865F2;
/*     --cECYn-colorPrimary: #5865F266; */
}

.contenedorGral div:nth-child(3) {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.contenedorGral div:nth-child(4) {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

}
